/*<<<<<<< HEAD
* {
	margin: 0;
	padding: 0;
}
body {
    font-family: arial, verdana, sans-serif;
}
@font-face {
	font-family: 'Conv_Langdon';
	src: url('Langdon.ttf');
}
@font-face {
	font-family: 'Conv_Roboto';
	src: url('roboto/Roboto-Medium.ttf');
}
body, html {
	background-color: #dff2f2;  
	height: 100%;
}
=======*/
/*This needs to be revised*/
/*>>>>>>> 0ad5f121da285bc9fdad96616ce5237a8f8c5aaa*/
body {
    margin: 0px;
	background-color: #dff2f2;
    /*background-color: #eff;*/
    min-width: 1295px;
    font-family: arial, verdana, sans-serif
}
header {
    position:relative;
    text-align: center;
}
header h1 {
    font-family:'Conv_Langdon',Sans-Serif;
	text-shadow: 0px 1px 1px #303030; 
    color: #3f4553;
	font-size: 100px;
    margin: 0;
	margin-top: 1em;
}
header p {
    margin-top:0;
}
main {
    height: 30em;
    overflow: hidden;
}
main .carry {
    display: flex;
    margin-bottom: 1em;
    position: relative;
}
main .center-container {
    float: left;
    position: relative;
    left: 50%;
}
main .center-child {
    float: left;
    position: relative;
    left: -50%;
}
main .center {
    position: relative;
    text-align: center;
    margin:auto;
}


#faq{
    min-height: 100%;
    background-color: #dfe8f2;
    padding-left: 20%;
    padding-right: 20%;
    float: left;
    padding-bottom: 50px;
    box-shadow: inset 0px 3px 6px -3px rgba(0, 0, 0, 0.4), 0px 10px 10px -5px rgba(0, 0, 0, 0.4);
    
}
#faq h2 {
    font-family:'Conv_Langdon',Sans-Serif;
    text-shadow: 0px 1px 1px #303030; 
    font-size: 50px;
}
#faq h3 {
    padding-top: 10px;
    max-width: 70%;
}
#faq p {
    max-width: 70%;
}

footer {
    background-color: #303030;   
    color: #dbdbdb;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    clear: both;
}
a {
	color:green;
}
a:hover {
	text-decoration:none;
}
